/* navbar styles */
$navbar-bg-color: #01090f;
$navbar-text-color: #eee;
$hamburger-color: #eee;
$nav-link-hover: #359856;
$banner-color: #358855;
$left-side-nav: #ddd;
$clip-path-transition: clip-path 0.6s ease-in-out;

$background-light: #034873;
$background-dark: #011526;
$card-background: #eef1d9;
$footer-background: #034873;
$card-hover-color: #034873;
$contact-hover-color: #034873;
$nav-link-hover: #eef1d9;
$nav-link-footer-hover: #eef1d9;
$heading-font: "Montserrat", sans-serif;
$paragraph-font: "Roboto", sans-serif;
